<!DOCTYPE html>
<html>
<-- vars alert, forecast, user -->
<head>
  <title>Surf-Alert Mail</title>
</head>
<body>
  <h1>Hello <%= @user.name %>,</h1>
  <p>Welcome to Surf Report.</p>
  <p></p>
  <p>To find out more indepth surf forecasting and more, visit <%= link_to 'MagicSeaWeed', 'http://magicseaweed.com/' %></p>
</body>
</html>
