<!DOCTYPE html>
<html>
<head>
  <title>Welcome/verification email</title>
</head>
<body>
  <h1>Hello <%= @user.name %>,</h1>
  <p>Welcome to Surf Report.</p>
  <p>To set up notifications visit <%= link_to 'Surf Report', url %></p>
  <p>To find out more indepth surf forecasting and more, visit <%= link_to 'MagicSeaWeed', 'http://magicseaweed.com/' %></p>
</body>
</html>
