<div class="title">
  <h2>Quickly Find the most active surf in New England.</h2>
</div>
<br>
<br>
<p>This site fetches information from MagicSeaWeed's API twice a day and caches it.  Forecast information upto 4 days from now is held as well as the past 3 day history.</p>
<br>
<p>Account creation is only necessary for signing up to recieve automated alerts(not yet implemented)</p>
<br>
<p><%= link_to "Find a beach", forecasts_path %></p>
