<div class="title">
  Surfcast Quick Finder
</div>
<br>
<br>
<% binding.pry %>
<span class="filter_box">
  <%= form_tag forecasts_path, method: 'get' do %>
    Minimum Rating to Display:
    <%= select_tag :min_rating, options_for_select(Forecast.ratings_range, @defaults[:min_rating]), onchange: "retrieveForecastsByRating();" %>
    <%= submit_tag 'filter' %>
  <% end %>
</span>
<br>
<br>
<br>
<% if @forecast.present? %>
  <%= render partial: 'layouts/forecast_table.html.erb', locals: {forecast: @forecast} %>
<% else %>
  No forecast data available that meets the criteria
<% end %>
